.Container {
    width: 280px;
}

.ButtonContainer {
    text-align: center;
}
.Button {
    padding: 8px 25px;
    cursor: pointer;
    background: #cee3fd;
    border: 1px solid #FFF;
    border-radius: 10px;
}

.Button:hover {
    background: #85b9fa;
}

.InvisibleErrorText {
    opacity: 0;
    color: red;
    padding: 8px 0;
    height: 20px;
}

.ErrorText {
    opacity: 1;
}