.Wrapper {

}

.Title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    height: 60px;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(133,185,250,1);
}

.Entrance{

}

.WelcomeWrapper {

}

.Entry {
    margin-right: 15px;
}

.Registration {
    margin-right: 15px;
}

.ButtonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
}

.UserInfoContainer {
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
    align-items: center;
}

.UserInfo {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    margin-right: 20px;
}
.Username {
    color: #85b9fa;
    font-weight: 600;
}
.LogoutContainer {
    margin-right: 20px;
}

.Button {
    padding: 8px 25px;
    cursor: pointer;
    background: #cee3fd;
    border: 1px solid #FFF;
    border-radius: 10px;
}

.Button:hover {
    background: #85b9fa;
}

.Image {
    width: 60px;
    height: 50px;
}