.Container {
    width: 280px;
}

.ButtonContainer {
    text-align: center;
}
.Button {
    padding: 8px 25px;
    cursor: pointer;
    background: #cee3fd;
    border: 1px solid #FFF;
    border-radius: 10px;
}

.Button:hover {
    background: #85b9fa;
}

.ContainerInput {
    margin-bottom: 10px;
    width: 100%;
    max-height: 45px;
}

